{% extends "app/layout.html" %}

{% block body %}

<h1>Case Data</h1>
<form action="{% url 'index' %}" method="post" name="getDate">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Filter">
</form>
<table>
    <tr>
        <th>Country</th>
        <th># Cases</th>
        <th># Deaths</th>
    </tr>
    {% for case in cases %}
    <tr>
        <td>{{case.country}}</td>
        <td>{{case.numCases}}</td>
        <td>{{case.numDeaths}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}