{% extends "app/layout.html" %}

{% block body %}

<h1>{{message}}</h1>
<form action="{% url 'index' %}" method="post" name="getDate">
    {% csrf_token %}
    {{ form.date }}
    {{ form.country }}
    <input type="submit" value="Filter">
    <a href="{% url 'update' %}">Update</a>
</form>

{% if cases %}
<h2>Total Cases: {{ totalC }}</h2>
<h2>Total Deaths: {{ totalD }}</h2>
<table>
    <tr>
        <th>Country</th>
        <th># Cases</th>
        <th># Deaths</th>
    </tr>
    {% for case in cases %}
    <tr>
        <td>{{case.country}}</td>
        <td>{{case.numCases}}</td>
        <td>{{case.numDeaths}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>No case data found for this date</h2>
{% endif %}

{% endblock %}