{% extends "app/layout.html" %}

{% block body %}

<h1>TODO</h1>
<h4>Create Task</h4>

<form class="createTask" action="{% url 'todo' %}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td>
                <b>Submit Task:</b>
            </td>
            <td>
                <input type="submit" value="Task" class="submit">
            </td>
        </tr>
    </table>
</form>

<h4>Tasks</h4>
<table>
    <tr>
        <th>Priority</th>
        <th>Description</th>
    </tr>
{% for task in tasks %}
    <tr>
        <td>{{ task.priority }}</td>
        <td>{{ task.desc }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
    